control
matplotlib
numpy
pexpect
pycolormap_2d
pytest
pytest-watch
pytest-html
scipy
tqdm
networkx
pygraphviz
git+https://github.com/wieldphysics/wield-utilities.git
git+https://github.com/wieldphysics/wield-iirrational.git
git+https://github.com/wieldphysics/wield-control.git
git+https://github.com/wieldphysics/wield-model.git
git+https://github.com/wieldphysics/wield-pytest.git
git+https://github.com/wieldphysics/wield-bunch.git
git+https://git.ligo.org/lee-mcculler/pygwinc.git@superQKall
